table {
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

th {
  text-align: left;
  padding: 10px 10px;
}

th:last-child {
    text-align: center;
}

#newCollectForm {
    display: none;
    flex-direction: column;
}